#color1{
    color: blueviolet;
}

#color2{
    color: orangered;
}

#juego1{
    height: 400px;
    width: 300px;
    
    
}

#juego2{
    height: 400px;
    width: 300px;
}

.container{
    text-align: center;
}



